
 
  @media screen and (min-width: 576px) {
    .allform {
  width: 50%;
  
}

}


  .allform {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas:
    "mod mod mod mod mod "
      "hd hd hd hd hd "
    "bt1 bt1 st bt2 bt2 "
    " db db db db db ";
  }
.modal{
  grid-area: mod;
}
.status{
  grid-area: st;
  background-color: aqua;
  font-size: 28px;
  color: rgba(255, 0, 0, 0.418); 
}
.taskname{
  grid-area: hd;
  border-color: rgb(0, 255, 106);
  background-color: #2387af8f;
    border: 3px solid #719ECE;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: 0 0  100px #719ECE;
}
.button{
  grid-area: bt1;
   color: brown;
   border-radius: 12px;
   background-color: chartreuse;
   
}
.button2{
  grid-area: bt2;
    color: brown;
    border-radius: 12px;
    background-color: chartreuse;
 }
 .dbdata1{
  grid-area: db;
   color: rgb(155, 36, 36);
   background-color: #968943 ;
   max-width: 700px;
   word-wrap: break-word;
 }
 
